{% include 'header.html' %}

<link rel="stylesheet" href="/static/css/group.css">
<div class="supremeContainer">
    
    <div class="groupMainContainer">
        
        <div class="groupTitleContainer">
            <a href="/monitor/groups/" class="goBackArrow">&#129044;</a> 
            <div class="groupTitle">
                 <p class="groupTitle">{{groupName}}</p>
            </div>
        </div>
        
        <div class="runSettingsContainer">
            <form  action="/monitor/groups/{{groupID}}/run" method="POST">    
                <div class="runSettingsContainerForm">
                    <button class="runButton"><img src="/static/images/pause.png" class="runButtonImage"></button>
                    <input  type="checkbox" id="enableAutoRun" {{autorunEnabled}} name="autorun" onclick="const Http = new XMLHttpRequest();Http.open('POST', '../auto');Http.send();" > <p class="enableAutoRun" >Enable Autorun</p>
                </div>
            </form>
        </div>
        
        <div class="lastScanContainer">
            Last time scanned: {{lastTimeScanned}}
        </div>

        <div class="settingsContainer">
            <a  class="groupSettingsContainer" href="/monitor/groups/{{ groupID}}/" ><p class="settingTitle">Results</p></a>
            <a  class="groupSettingsContainer" href="/monitor/groups/{{ groupID}}/users" ><p class="settingTitle">Users</p></a>
            <a class="groupSettingsContainer" href="/monitor/groups/{{ groupID}}/rules" ><p class="settingTitle">Rules</p></a>
            <a class="groupSettingsContainer" href="/monitor/groups/{{ groupID}}/settings"><p class="settingTitle">Settings</p></a>
            
        </div>
        <div class="descriptionContainer">
            <p> {{ groupDescription }} </p>
        </div>
        
       
        <div class="userListContainer">
            <div class="resultTitle">Users</div>
            <div class="gridForUsers">
                
                {% for user  in userList%}
                <div class="userContainer">
                    <div class="userImgContainer"><img class="userImgIcon" src="{{user[3]}}"></div>
                    <div class="userDataContainer">
                        <p class="nicknameTitle">{{ user[1] }}</p>
                        <p class="handleTitle">@{{ user[1] }}</p>
                       <!-- <p class="nOfResults">1</p> > -->
                    </div>
                                   

                </div>
                {%endfor%}
                <a class="userContainer" id="myBtn" style="text-decoration: none; color:inherit;"  >
                    <img class="addUserImage" src="/static/images/add.png"> </img>
                </a>
                
            </div>
    
        </div>

    </div> 
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form method="POST" action="/monitor/groups/{{groupID}}/users/add">
          <p class="standartTitle">New User</p>
          <input type="text" id="username" class="inputField" name="username" placeholder="Username"><br>  
          <div class="buttonContainer">
            <button class="standardButton" type="submit" value="Submit"  >Add User</button>
          </div>
      </form>
    </div>
    <script src="/static/js/groups.js"></script>
  </div>